/*Reset da página*/

body {
    background-color: #5a5a5a;
    font-family: 'Calibri'; 
    margin: 0;
    overflow-x: hidden;
}

/*Header*/

header{
    overflow: hidden;
    background-color: #000000;
}

.icone-instagram{
    float: inline-end;
    max-width:35px;
    width: auto;
    padding: 2px 2px;
}

.logo-freak-biscuit{
    float: inline-start;
    max-width: 164px;
    width: auto;
}

main {
    background-image: url("freak-biscuit-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.main-left, .main-right{
    float: left;
    text-align: center;
    width: 50%;
}

.img-quem-sou, .logo-body-quem-sou{
    padding-top: 4%;
    text-align: center;
    width: 40%;
}

.logo-body-quem-sou {
    padding-top: 7%;
}

h2{
    padding-left: 23%;
    text-align: center;
    width: 55%;
    color: #07da19;
}

.titulo-right{
    margin-top: 7%;
}

h1{
    font-size: 4rem;
    color: #07da19;
}