/*Reset da página*/

body {
    background-color: #aaaaaa;
    font-family: 'Calibri'; 
    margin: 0;
    overflow-x: hidden;
}

/*Header*/

header{
    overflow: hidden;
    background-color: #30a800;
    /*padding: 4px 4px;*/
}

.icone-instagram{
    float: inline-end;
    max-width:35px;
    width: auto;
    padding: 2px 2px;
}

.logo-freak-biscuit{
    float: inline-start;
    max-width: 164px;
    width: auto;
}